# Quarto build output
*.html
*.pdf
*.docx

# Quarto cache and intermediate files
*.log
*.aux
*.toc
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz

# R-specific files
.Rhistory
.RData
.Rproj.user/
.Rproj
.Rprofile

# Temporary files
*.tmp
*.swp
*.bak

# OS-specific files
.DS_Store
Thumbs.db

# Dependency management
renv/library/
renv/staging/

/.quarto/

**/*.quarto_ipynb
